.collapsible {
    body:not(.elementor-editor-active) &__content {
        overflow: hidden;
        max-height: calc(1rem * 1.5 * 6); // 6 text lines
        transition: 0.2s;
        position: relative;
    }
}