#feed {
    display: flex;
    
    // column placeholders for Colcade masonry layout
    .grid-col {
        flex: 1;

        &--2, &--3, &--4 {
            margin-left: 1rem;
        }

        @media(max-width: 1140px) { &--4 { display: none; } }
        @media(max-width: 900px)  { &--3 { display: none; } }
        @media(max-width: 600px)  { &--2 { display: none; } }
    }
}

.feed-pagination .elementor-icon-list-text {
    width: 1.5em;
    text-align: center;
    border: 1px solid transparent;

    &:not(.current):hover {
        border-color: $yellow;
    }

    &.current {
        cursor: default;
        color: #fff;
        background-color: $pink;
        
    }
}

.feedItem {
    padding: 1rem;
    background-color: #fff;
    color: $text-color;

    opacity: 0;
    transform: translateY(2rem);
    animation: fadeInUp 0.3s ease-out forwards;

    @keyframes fadeInUp {
        from { opacity: 0; transform: translateY(2rem) }
        to   { opacity: 1; transform: translateY(0) }
    }

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &--question {
        background-color: $pink;
        color: #fff;
        padding: 4rem 2rem;

        h3 {
            margin: 0;
            font-size: 2rem;
            text-align: center;
        }
    }

    &--feature {
        padding: 4rem 2rem;

        h3 {
            margin: 0;
            font-size: 2rem;
            text-align: center;
        }
    }

    &--you {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            margin: 0;
        }

        textarea {
            width: 100%;
            min-height: 360px;
            margin: 1rem 0;
            border-radius: 0;
        }

        button {
            width: 100%;
            color: $text-color;
            border-color: $text-color;

            &:hover {
                color: #fff;
                border-color: $pink;
            }
        }
    }

    &__debugInfos {
        display: none;
        font-size: 0.75rem;
        opacity: 0.5;
    }

    &__title {
        margin: 0 0 0.5rem;
        font-size: 1.25rem;

        a {
            color: $text-color;

            &:hover {
                color: $pink;
            }
        }
    }

    &__meta {
        display: flex;
        align-items: center;
        line-height: 1;
        margin-bottom: 0.5rem;
    }

    &__profileImage {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
        background-color: #ccc;
    }

    &__date {
        opacity: 0.75;
    }

    &__imageLink {
        display: block;
        position: relative;
        overflow: hidden;
        margin-bottom: 0.5rem;

        &--video {
            &:before {
                content: '\f04b';
                font-family: "FontAwesome";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3rem;
                color: rgba(#fff, 0.5);
                transition: 0.2s ease-in-out;
            }

            &:hover:before {
                transform: scale(1.1);
                color: rgba(#fff, 1);
                background-color: rgba(#000, 0.2);
            }
        }
    }

    &__image {
        display: block;
        filter: grayscale(1);
        transition: filter 0.3s ease-in-out;

        &:hover {
            filter: grayscale(0);
        }
    }

    &__sharing {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & > a {
            color: $text-color;

            &:hover {
                color: $pink;
            }

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

    .rating {
        margin-top: 1rem;
        
        &__label {
            font-style: italic;
            font-size: 0.75rem;
        }
        
        &__wrapper {
            display: flex;
            align-items: center;
            position: relative;
        }
    
        &__input {
            flex: 1;
            margin: 0 0.5rem;

            &:disabled {
                opacity: 0.5;
            }
        }

        &__emoji {
            filter: grayscale(1);
        }

        &__text {
            font-size: 0.75rem;
            font-weight: bold;
            margin-top: 0.5rem;
        }
    }    
}

/* input[type="range"] {
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: #d3d3d3;
    background: repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent calc(100% / 8 - 1px)) no-repeat 50% 50%;
    height: 1rem;
    background-size: 100% 1rem;
    -webkit-appearance: none;
    border-radius: 5px;   
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }
      
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
    }
}
 */