.wa {
    &__search-box {

    }

    &__input-container {
        position: relative;
    }

    &__input {
        width: 100%;
        padding-right: 3rem;
    }
    &__input-button {
        
    }
}