$gap: 1rem;

#feed {
    display: flex;
    
    // column placeholders for Colcade masonry layout
    .grid-col {
        
        &--2, &--3, &--4 {
            margin-left: $gap;
        }

        & {
            width: calc(100% / 4 - (#{$gap} * 3 / 4));
        }

        @media(max-width: 1140px) {
            & { width: calc(100% / 3 - (#{$gap} * 2 / 3)); }
            &--4 { display: none; }
        }
        @media(max-width: 480px)  {
            & { width: calc(50% - (#{$gap} / 2)); }
            &--3 { display: none; }
        }
        @media(max-width: 420px)  {
            & { width: 100%; }
            &--2 { display: none; }
        }
    }
}

.feed-pagination .elementor-icon-list-text {
    width: 1.5em;
    text-align: center;
    border: 1px solid transparent;

    &:not(.current):hover {
        border-color: $yellow;
    }

    &.current {
        cursor: default;
        color: #fff;
        background-color: $pink;
        
    }
}

.feedItem {
    padding: 0;
    background-color: #fff;
    color: $text-color;
    

    &, img {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    // opacity: 0;
    // transform: translateY(2rem);
    // animation: fadeInUp 0.3s ease-out forwards;

    @keyframes fadeInUp {
        from { opacity: 0; transform: translateY(2rem) }
        to   { opacity: 1; transform: translateY(0) }
    }

    &:not(:last-child) {
        margin-bottom: $gap;
    }

    &:not(.feedItem--featured):hover {
        .feedItem__imageLink,
        .feedItem__profileImage {
            filter: grayscale(0);
        }
    }

    &--question{
        background-color: $pink;
        color: #fff;
        padding: 4rem 2rem;

        h3 {
            margin: 0;
            font-size: 2rem;
            text-align: center;
        }
    }

    &--act {
        background-color: $text-color;
        background-size: cover;
        background-position: center center;
        color: #fff;

        .feedItem__body {
            background-color: rgba(#000, 0.5);
            padding: 4rem 2rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .line,
        .title {
            font-family: 'Anton';
            font-size: 3rem;
            display: inline-block;
            padding: 0.5rem;
            background-color: #000;
            line-height: 1;
            padding-left: 1.25rem;
        }

        .line-2 {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            padding-left: 3rem;
            padding-right: 1.5rem;
            margin-left: auto;
        }

        .title {
            padding-right: 3rem;
            font-size: 1.75rem;
            text-transform: lowercase;
            margin: 0;
            margin-left: auto;
        }
    }

    &--form {

        &.hidden .user-submit-form,
        &:not(.hidden) .feedItem__form-teaser,
        &:not(.success) .feedItem__success-message {
            display: none;
        }
        
        .feedItem__body {
            min-height: 32em; // 30em + padding-bottom
            padding-bottom: 2em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .feedItem__form-teaser {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            h3 {
                font-size: 16em;
                line-height: 1;
                text-align: center;
                color: #aaa;
                font-family: "Anton", Sans-serif;
            }
            button {
                color: $text-color;
                border-color: $text-color;
                background-color: transparent;
                border-radius: 0;
                outline: 0;
                font-size: 1em;

                &:hover {
                    color: #fff;
                    border-color: $text-color;
                    background-color: $text-color;
                }
            }
        }
    }

    &__debugInfos {
        display: none;
        font-size: 0.75rem;
        opacity: 0.5;
        padding: 0.25rem 0.5rem;
    }

    &__imageLink {
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;

        .feedItem:not(.feedItem--featured) & {
            filter: grayscale(1);
            transition: filter 0.1s ease-in-out;
        }

        &--video {
            &:before {
                content: '\f04b';
                font-family: "FontAwesome";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3rem;
                color: rgba(#fff, 0.5);
                transition: 0.2s ease-in-out;
            }

            &:hover:before {
                transform: scale(1.1);
                color: rgba(#fff, 1);
                background-color: rgba(#000, 0.2);
            }
        }
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
    }

    &__body {
        padding: 1rem;
    }

    &__title {
        margin: 1rem 0 0.5rem;
        font-size: 1.25rem;

        a {
            color: $text-color;

            &:hover {
                color: $pink;
            }
        }
    }

    &__meta {
        display: flex;
        align-items: center;
        line-height: 1;
        margin-bottom: 0.5rem;
    }

    &__profileImage {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
        background-color: #ccc;

        .feedItem:not(.feedItem--featured) & {
            & {
                filter: grayscale(1);
                transition: filter 0.1s ease-in-out;
            }
        }

    }

    &__author {
        flex: 1;
    }

    // &__date {
    //     opacity: 0.75;
    // }

    &__sharing {
        margin-left: 0.5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & > a {
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: $text-color;
            color: #fff;
            font-size: 0.75rem;

            &:hover {
                background-color: $pink;
            }

            &:not(:last-child) {
                margin-right: 0.25rem;
            }
        }
    }

}

/* input[type="range"] {
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: #d3d3d3;
    background: repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent calc(100% / 8 - 1px)) no-repeat 50% 50%;
    height: 1rem;
    background-size: 100% 1rem;
    -webkit-appearance: none;
    border-radius: 5px;   
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }
      
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
    }
}
 */