.toc {
    &-container {

    }

    &-content {

    }

    &-entry {
        display: block;

        &--h2 { margin-left: 0rem; }
        &--h3 { margin-left: 1rem; }
        &--h4 { margin-left: 2rem; }
        &--h5 { margin-left: 3rem; }
        &--h6 { margin-left: 4rem; }
    }
}
