.user-submit-form {
    margin: 0 !important;
    padding: 0 !important;

    position: relative;

    &:before {
        content: 'Sende...';
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(#fff, 0.85);
        justify-content: center;
        align-items: center;
        padding: 1em;
        font-size: 1.75em;
        text-transform: uppercase;
        animation: send-loader 1.2s infinite;

        .sending & {
            display: flex;
        }

        @keyframes send-loader {
            0%      { content: 'Sende...' }
            33.33%  { content: 'Sende' }
            66.66%  { content: 'Sende.' }
            100%    { content: 'Sende..' }
        }
    }

    .hide-form-button {
        width: 1.7647em; // 1.5 / 0.85
        height: 1.7647em; // 1.5 / 0.85
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $text-color;
        color: #fff;
        font-size: 0.85em;
        padding: 0;
        margin-left: auto;
        outline: none;
    }

    input:not([type=file]), select, textarea {
        width: 100%;
        border: 1px solid $text-color;
        border-radius: 0;
        padding: 0.5em 1em;
    }

    [name=content],
    [name=media-type] {
        margin-bottom: 1em;
    }

    button,
    input[type=button] {
        background-color: transparent;
        color: $text-color;
        border: 1px solid $text-color;
        border-radius: 0;
        padding: 0.5em 1em;
        outline: 0;

        &:hover {
            color: #fff;
            background-color: $text-color;
        }
    }

    button[type=submit] {
        margin-top: 2em;
    }

    label {
        font-size: 0.85em;
        opacity: 0.5;
        margin-bottom: 0.2941em; // 0.25 / 0.85
    }
    
    .error-message {
        display: none;
        background-color: $text-color;
        padding: 0.5em;
        font-size: 0.85em;
        margin-top: 1.5em;
        color: #fff;

        .show-error & { display: block; }

        h4 {
            margin: 0.2em 0 0.3em;
            font-size: 2em;
        }
    }
}