.user-submit-form {
    margin: 0 !important;
    padding: 0 !important;

    position: relative;

    &:before {
        content: 'Sende...';
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(#fff, 0.85);
        justify-content: center;
        align-items: center;
        padding: 1em;
        font-size: 1.75em;
        text-transform: uppercase;
        animation: send-loader 1.2s infinite;

        .sending & {
            display: flex;
        }

        @keyframes send-loader {
            0%      { content: 'Sende...' }
            33.33%  { content: 'Sende' }
            66.66%  { content: 'Sende.' }
            100%    { content: 'Sende..' }
        }
    }

    .hide-form-button {
        width: 1.7647em; // 1.5 / 0.85
        height: 1.7647em; // 1.5 / 0.85
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $text-color;
        color: #fff;
        font-size: 0.85em;
        padding: 0;
        margin-left: auto;
        outline: none;
    }

    input[type=text], input[type=url], select, textarea {
        width: 100%;
        border: 1px solid $text-color;
        border-radius: 0;
        padding: 0.5em 1em;
        outline: 0 !important;
    }

    [name=content],
    [name=media-type] {
        margin-bottom: 1em;
    }

    label {
        font-size: 0.85em;
        opacity: 0.5;
        margin-bottom: 0.2941em; // 0.25 / 0.85
    }

    .approval-wrapper {
        margin-top: 1em;

        input[type=checkbox] {
            display: none;

            &:checked + label {
                &:before {
                    background-color: $text-color;
                }

                &:after {
                    display: block;
                }
            }
        }

        label {
            opacity: 1;
            line-height: 1.5;
            user-select: none;
            position: relative;

            &:before {
                content: '';
                display: inline-block;
                width: 1em;
                height: 1em;
                border: 1px solid $text-color;
                border-radius: 0;
                margin-right: 0.5em;
            }

            &:after {
                content: '\f00c';
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                position: absolute;
                top: 0;
                left: 0.2em;
                font-size: 0.7em;
                display: none;
                color: #fff;
            }
        }

        
    }

    button,
    input[type=button] {
        background-color: transparent;
        color: $text-color;
        border: 1px solid $text-color;
        border-radius: 0;
        padding: 0.5em 1em;
        outline: 0 !important;

        &:hover {
            color: #fff;
            background-color: $text-color;
        }
    }

    button[type=submit] {
        margin-top: 2em;
    }
    
    .error-message {
        display: none;
        background-color: $text-color;
        padding: 0.5em;
        font-size: 0.85em;
        margin-top: 1.5em;
        color: #fff;

        .show-error & { display: block; }

        h4 {
            margin: 0.2em 0 0.3em;
            font-size: 1.75em;
        }
    }
}