.wiki-articles-by-categories {
    $counter-width: 2.5rem;

    %counter {
        min-width: $counter-width;
        flex-shrink: 0;
        padding-right: 0.5rem;
        display: inline-block;
        user-select: none;
        white-space: nowrap;
    }

    counter-reset: category; 

    .category {
        &:not(:last-child) {
            margin-bottom: 0.35rem;
        }

        &.expanded {
            .articles {
                display: block;
            }

            .category-title:after {
                transform: rotate(180deg);
            }
        }

        &-header {
            display: flex;
    
            &:before {
                @extend %counter;
                counter-increment: category;
                content: counter(category, upper-latin) '.'; 
                color: #fff;
            }
        }

        &-title {
            color: #fff;
            cursor: pointer;
            user-select: none;
            font-size: 1.2rem;
    
            @media(max-width: $big-phone-width) {
                font-size: 1.1rem;
            }
    
            &:after {
                content: '\f078';
                display: inline-block;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 0.85rem;
                margin-left: 0.5rem;
                color: inherit;
            }
        }
    }

    .article-count {
        display: inline-flex;
        color: $light-grey;
        white-space: nowrap;
        margin-left: 0.5rem;
    }

    .articles {
        display: none;
        width: 100%;
        counter-reset: article; 
        padding-left: calc(#{$counter-width} + 1rem);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .article {
        display: flex;

        &:before {
            @extend %counter;
            counter-increment: article;
            content: 'Band ' counter(article, upper-roman) '.'; 
            min-width: calc(#{$counter-width} + 2.5rem); // 2.5rem ≈ 'Band ';
        }

        @media(max-width: $big-phone-width) {
            flex-wrap: wrap;

            &:before {
                width: 100%;
            }
        }

        &-title {
            color: $yellow;

            &:hover {
                color: $pink;
            }
        }
    }
}

