.wiki-articles-by-categories {
    $counter-width: 2.5rem;

    %counter {
        min-width: $counter-width;
        flex-shrink: 0;
        padding-right: 0.5rem;
        display: inline-block;
        user-select: none;
        white-space: nowrap;
    }

    counter-reset: category; 

    .category {
        &:not(:last-child) {
            margin-bottom: 0.35rem;
        }

        &.expanded {
            .articles {
                display: block;
            }

            .category-title:after {
                transform: rotate(180deg);
            }
        }

        &-header {
            display: flex;
    
            &:before {
                @extend %counter;
                counter-increment: category;
                content: counter(category, upper-latin) '.'; 
                color: #fff;
            }
        }

        &-title {
            color: #fff;
            cursor: pointer;
            user-select: none;
            font-size: 1.2rem;
    
            @media(max-width: $big-phone-width) {
                font-size: 1.1rem;
            }
    
            &:after {
                content: '\f078';
                display: inline-block;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 0.85rem;
                margin-left: 0.5rem;
                color: inherit;
            }
        }
    }

    .article-count,
    .comment-count {
        display: inline-flex;
        color: $light-grey;
        white-space: nowrap;
        margin-left: 0.5rem;
    }

    .articles {
        display: none;
        width: 100%;
        counter-reset: article; 
        padding-left: calc(#{$counter-width} + 1rem);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .article {
        display: flex;

        &:before {
            @extend %counter;
            counter-increment: article;
            content: 'Band ' counter(article, upper-roman) '.'; 
            min-width: calc(#{$counter-width} + 2.5rem); // 2.5rem ≈ 'Band ';
        }

        @media(max-width: $big-phone-width) {
            flex-wrap: wrap;

            &:before {
                width: 100%;
            }
        }

        &-title {
            color: $pink;
            &:hover { color: $yellow; }
        }


    }
}

.wiki-articles-revisions {
    font-size: 0.85rem;
    color: $light-grey;

    .author {
        font-style: italic;
    }
}

// Comments
.comment-reply-title {
    margin-top: 3rem;
    color: #fff;
    font-size: 1.5rem;
    font-family: "Anton", Sans-serif;
    font-weight: 400;
}

.post-comments {
    &, ul {
        list-style: none;
        padding: 0;
    }
    
    .comment {
        background-color: rgba(255, 255, 255, 0.05);
        padding: 1rem;
        padding-right: 0;
        padding-bottom: 0;
        margin-bottom: 1rem;

        .comment-reply-title {
            margin-top: 0;
        }

        .form-submit {
            padding-bottom: 1rem;
        }
    }

    .comment-author,
    .comment-metadata {
        font-size: 0.85rem;
    }
    
    .comment-author .says {
        display: none;
    }
    
    .comment-meta {
        display: flex;
        align-items: center;
    }
    
    .comment-metadata {
        flex: 1;
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
    }
    
    .edit-link {
        margin-left: auto;
        margin-right: 1rem;
    }
    
    a.comment-edit-link {
        color: yellow;
        border: 1px solid yellow;
        padding: 0.25em 0.5em;
        font-size: 0.75rem;
        font-weight: 300;
        opacity: 0.5;
        margin-left: 0.5rem;
    }
    
    .comment-edit-link:hover {
        opacity: 1;
    }
    
    .comment-content {
        padding-right: 1rem;
    }
    
    .reply {
        padding-bottom: 1rem;
    }
}   

.comment-form {
    textarea,
    input:not([type=submit]) {
        border-radius: 0;
        border: 1px solid $yellow;
        background-color: transparent;
        color: #fff;

        &::placeholder {
            color: $yellow;
            opacity: 0.5;
            font-weight: 300;
        }
    }

    textarea#comment {
        margin-bottom: 1rem;  
    }
    
    .acf-comment-fields {
        display: none;
    }

    input#submit {
        font-weight: 300;
        color: $pink;
        background-color: transparent;
        border: 1px solid $pink;
        border-radius: 0;
        padding: 12px 24px;

        &:hover {
            color: #fff;
            background-color: $pink;
        }
    } 
}