.inline-text .elementor-widget-container {
    &, & * {
        display: inline;
    }
}

$pattern-width: 20px;
$line-height: 0.5em;
$line-width: 8em;

$pattern__diagonal-lines--pink: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQYV2P8U3nzP0u7OgMMMDIwMPz/U3mTASYIFgDJwgThAjBBAC4nD09U3pjpAAAAAElFTkSuQmCC);
$pattern__diagonal-lines--yellow: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQYV2P88Y3hPwcXAxwwMjAw/P/xjYEBJggWAEnDBOECMEEAsU0L77Qpo2sAAAAASUVORK5CYII=);

.pattern {

    .elementor-widget-container {
        position: relative;
    }

    .elementor-widget-container:before {
        content: '';
        position: absolute;
        width: $pattern-width;
        height: 100%;
        top: 0;

        // Pattern Generator: http://www.patternify.com/
        // background: $pattern__diagonal-lines--pink;
        // background-repeat: repeat;
        background: repeating-linear-gradient(
              45deg,
              $pink,
              $pink 1px,
              #000 1px,
              #000 3px
        );
    }

    &.inline-text .elementor-widget-container:before {
        height: 100%;
        top: 0;
    }

    &-right .elementor-widget-container:before {
        right: -1 * $pattern-width;
    }

    &-left .elementor-widget-container:before {
        left: -1 * $pattern-width;
    }
}

.fill {
    &__pattern {
        &--yellow {
            .elementor-divider-separator {
                border: none !important;
                height: 12px;
                // background: repeating-linear-gradient(
                //     49deg,
                //     $yellow,
                //     $yellow 1px,
                //     #000 1px,
                //     #000 3px
                // );
                background: repeating-linear-gradient(
                    49deg,
                    $yellow,
                    $yellow 2px,
                    #000 2px,
                    #000 5px
                );
            }
        }
    }
}

.white-line {

    position: relative;

    .elementor-widget-container:after {
        content: '';
        width: $line-width;
        height: $line-height;
        background-color: #fff;
        position: absolute;
    }

    &-bottom:after  { bottom: -1 * $line-height; }
    &-top {
        .elementor-widget-container:after {
            top: -1 * $line-height;
        }
    
        .elementor-widget-container.inline-text:after {
            top: -1 * $line-height;
        }
    }

    &-right .elementor-widget-container:after { right: 0; }
    &-right.pattern-right .elementor-widget-container:after { right: -1 * $pattern-width; }
    
    &-left .elementor-widget-container:after { left: 0; }
    &-left.pattern-left .elementor-widget-container:after { left: -1 * $pattern-width; }
}

.flex {
    &-align-items-center {
        .elementor-widget-wrap {
            align-items: center;
        }
    }
}
