body {
    font-family: "Avenir", sans-serif;
    font-weight: 400;
    color: #fff;
}

a {
    &, &:link, &:visited {
        text-decoration: none;
        color: $pink;
    }

    &:hover {
        color: $yellow;
    }
}

p:not(:last-child) {
    margin-bottom: 1.5rem;
}