/* Pre Define variables for your theme.
any values defined here will take precedence over variables definitions.
========================================================================== */
// add your default variable values here.
//e.g.:
//$purple:	#cc00ff;

// COLORS
$pink: #fc79d9;
$yellow: #f8f600;
$grey: #1B1B1B;
$light-grey: #8394A0;
$text-color: #333;
$bg-color: #000;

// WIDTHS
$container-width: 960px;
$desktop-width: 1024px;
$tablet-width: 768px;
$big-phone-width: 560px;
$phone-width: 360px;