body {
    background-color: #000;
    overflow-x: hidden;
    word-wrap: break-word;
}

.site-main,
.site-footer {
    overflow: hidden;
}

#masthead {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 1;
}

#main,
#masthead + div {
    margin-top: 65px; // adjust for fixed header
}
